<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <blockquote class="white-text" id="foot-quote">Travel far enough, you meet yourself.<br> "David Mitchell"</blockquote>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
     <p class="love text-align center">Made with <i class="tiny material-icons" id="love">favorite</i> by Edilene</p>
    </div>
  </div>
</footer>
