<nav>
  <div class="navbar-fixes">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center" id="logo">Travel Therapy</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user %>
          <li><%= link_to "Dashboard", username_path(current_user.slug) %></li>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
