body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#logo {
  font-family: 'Pacifico', cursive;
}

main {
  flex: 1 0 auto;
}

.navbar-fixes {
  background-color: lightblue;
}

.nav-wrapper {
  background-color: lightblue;
}

.page-footer{
  background-color: lightblue;
}

.btn {
  background-color: lightblue;
}

#love {
  text-align: center;
  color: red;
}

#foot-quote {
  font-weight: 100px;
}

th {
  font-weight: bold;
  font-color: orange;
}

#toast-container{
  top: 70px;
}
// font-family: 'Satisfy', cursive;
// font-family: 'Playball', cursive;
// font-family: 'Cabin Sketch', cursive;
// font-family: 'Fredericka the Great', cursive;
// font-family: 'Love Ya Like A Sister', cursive;
// font-family: 'Sofia', cursive;
// font-family: 'Spirax', cursive;
// font-family: 'Pacifico', cursive;
// font-family: 'Amatic SC', cursive;
// font-family: 'Lobster Two', cursive;
// font-family: 'Sansita', sans-serif;
